<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro" />
  <xacro:include filename="$(find franka_description)/robots/vacuum_gripper.urdf.xacro"/>

  <!-- for simulation -->
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="panda.transmission.xacro"/>
  <!-- end for simulation -->

  <xacro:panda_arm />

  <!-- for simulation -->
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:panda_gazebo robot_name="$(arg robot_name)" />
  <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="false" />
  <!-- end for simulation -->

  <xacro:vacuum_gripper prefix="" wrist_link="$(arg robot_name)_link8" arm_namespace="">
    <origin xyz="0 0 0.0" rpy="3.14159 0 0"/>
    <grippable_model_types>
      <type>white_piece</type>
      <type>black_piece</type>
    </grippable_model_types>
    <drops_info>
    </drops_info>
  </xacro:vacuum_gripper>

</robot>
